<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <th:block layout:fragment="content">
    <body>
      <h1>Tax List</h1>
      <table class="table">
        <thead>
          <tr>
            <th>TaxRate</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="tax : ${listtax}">
            <td th:text="${tax.rate}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/taxs/new}">登録</a>
                <!-- <a class="btn btn-secondary" th:href="@{/companies/{id}/edit(id = ${company.id})}">編集</a> -->
                <!-- <form class="d-inline" th:action="@{/companies/{id}(id = ${company.id})}" th:method="delete"> -->
                <!-- <button class="btn btn-danger" type="submit">削除</button> -->
              </form>
            </td>
          </tr>
      </table>
    </body>
  </th:block>
</html>
