/* 一覧 */
.app-table {
  table-layout: fixed;
}

.app-table td{
  width: 20%;
  word-wrap: break-word;
  white-space: normal;
  height: 100px;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 詳細 */
span.font-impact {
  font-family: "Impact";
  font-size: small;
}

a.btn {
  /* font-weight: 700; */
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

a.btn-link {
  font-weight: 700;
  height: 36px;
}
.btn-secondary{
  background-color: #6D757D;
}
.btn-destroy{
  color:#fff;
  background-color: #DC3545;
}
.btn-destroy:hover{
  background-color: 	#ED1C24;
  color: #fff;
}


/* edit */

.form-control{
  width: 90%;
}
.form-control-lg{
  height: 25px;
  min-height: auto;
  padding: auto;
  font-size: smaller;
  border-radius: 2px;
  box-sizing: content-box;
  width: 90%;
  display: block;
  border: 1px solid #1B1B1B;
  padding: 5px;
}

.form-group{
  margin: 10px;

}

/* PC */
.app-show-container {
  width: 100%;
}

/* タブレット */
@media (max-width: 768px) { 
  /* 一覧 */

  .for-tablet {
    display: none;
  }
  a.btn{
    height: auto;
  }
  
  .app-show-container {
    width: 1500px;
    height: 3000px;
  }
  span.font-impact {
    font-size: x-large;
  }
}

/* スマホ */
@media (max-device-width: 500px) {
  /* 一覧 */
  .app-table th{
    width: 50%;
    justify-content: space-between;
  }
  .for-pc.for-tablet {
    display: none;
  }

  .app-table td{
    width: 100px;
    word-wrap: break-word;
    white-space: normal;
  }
  
  .app-show-container {
    width: 1500px;
  }
  span.font-impact {
    font-size: xx-large;
  }
}
